@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<WebBanSua.Data.Product>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Danh mục sản phẩm</h2>

<p>
    <a asp-action="ThemSanPhamMoi" class="btn btn-success btn-sm">Thêm sản phẩm</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Tồn kho
            </th>
            <th>
                URL Ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
        <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @(item.Name.Length > 20 ? item.Name.Substring(0, 20) + "..." : item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <span title="@item.Description">
                    @(item.Description != null && item.Description.Length > 50
                                        ? item.Description.Substring(0, 50) + "..."
                                        : item.Description)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="SuaSanPham" asp-route-maSanPham="@item.ProductId" class="btn btn-warning btn-sm">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm">Details</a> |
                <a asp-action="XacNhanXoaSanPham" asp-route-maSanPham="@item.ProductId" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(
Model,
page => Url.Action("DanhMucSanPham", new { page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" }
    }
)
